/* index.css */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* LoginPage-re háttér, Dashboard-on eltűnik */
  .login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/./src//images/image.png') center/cover no-repeat;
    z-index: -1;
  }
  
  /* Login kártya */
  .login-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-left: 15vw;
  }
  
  .login-card {
    background: white;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 45%;
    text-align: center;
  }
  
  /* Input mezők */
  .login-input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  /* Bejelentkezési gomb */
  .login-button {
    width: 100%;
    padding: 14px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #444;
  }
  